{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/slider.css') }}">
	<script src="{{ url_for('static',filename='js/bootstrap-slider.js') }}"></script>
	<script>
	    $(document).ready(function(){
			$('.slider').slider()
	  	});
	</script>
{% endblock %}
{% block pagelabel %}Cluster Analysis{% endblock %}
{% block page_content %}
<div class="col-md-12">
	<div class="row">
		<form role="form" method="POST" name="dashboard" action="{{ url_for('.analysis') }}">
            	{{ form.csrf_token }}
			<div class="col-md-3">
	            <div class="form-group">
	    			{{ form.categories(class="form-control",placeholder="category") }}
	    		</div>
	    	</div>
	    	<div class="col-md-3">
	            <div class="form-group">
	    			{{ form.clusters(class="form-control",placeholder="category") }}
	    		</div>
			</div>
	    	<div class="col-md-2">
	    		<div class="form-group">
	    			<button type="submit" class="btn btn-default">Submit</button>
	    		</div>
	    	</div>
        </form>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">{{graphs.sales|safe}}</div>
			</div>
			<div class="row">
				<div class="col-md-12">{{graphs.gm|safe}}</div>
			</div>
		</div>	
		<div class="col-md-8">
			<div class="panel panel-default block-color">
  				<div class="panel-heading">
    				<h3 class="panel-title">Analytics</h3>
  				</div>
  			<div class="panel-body">
  				<div class="col-md-12">
  				<div class="row">
						<form role="form" method="POST" name="stores" action="{{ url_for('.analysis') }}">
				    		<div class="row">
					            	{{ formanal.csrf_token }}
								
						    	<div class="col-md-4">
						    		Reco price action: {{ '(15%)' }}
						    	</div>
						    	<div class="col-md-3">
						    		<div class="form-group">
						    			{{ formanal.test_price(class="form-control",placeholder="price") }}
						    		</div>
						    	</div>
						    </div>
						   	<div class="row border-bottom">
						    	<div class="col-md-5">
									Price action by store cluster 
								</div>
								<div class="col-md-4">
									Markdown $ spent: {{ '$232K' }}
								</div>
						    	
					    	</div>
				          
							<div class="row">
									<div class="col-md-6"><h5>Pricing Inputs</h5></div>
							</div>
							<div class="row border-bottom">
								<div class="col-md-6">
									Markdown Tier:  {{ '3' }}
									<div class="row table-responsive">
										<table class="table">
											<th>
												<td>Week</td>
												<td>Offer</td>
												<td>Sales</td>
												<td>Unit Lift</td>
											</th>
											{#{% for cluster in clusters %}#}
											<tr>
												<td>{{ '' }}</td>
												<td>{{ '2' }}</td>
												<td>{{ '15%' }}{{ 'off' }}</td>
												<td>{{ '$10M' }}</td>
												<td>{{ '35' }}</td>
											</tr>
											<tr>
												<td>{{ '' }}</td>
												<td>{{ '6' }}</td>
												<td>{{ '35%' }}{{ 'off' }}</td>
												<td>{{ '$10M' }}</td>
												<td>{{ '60' }}</td>
											</tr>
											{#{% endfor %}#}
										</table>
									</div>
								</div>
								<div class="col-md-3">
									<p>Avg temp:<span class="badge left-buffer">{{ '74' }}</span></p>
									<p>On promo:<span class="badge left-buffer">{{ 'yup' }}</span></p>
									<p>Nat'l ad:     <span class="badge left-buffer">{{ 'nope' }}</span></p>
								</div>
								<div class="col-md-3">
									<p>Aggressiveness: </p>
									<div class="form-group">
						    			{{ formanal.aggresiveness(class="form-control",placeholder="5") }}
						    		</div>
									<p>Demand Index: </p>
									<div class="form-group">
						    			{{ formanal.demand_index(class="form-control",placeholder="5") }}
						    		</div>
						    		<div class="form-group">
						    			<button type="submit" class="btn btn-default">Submit</button>
						    		</div>
								</div>
								
								
							</div>
						</form>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-3">Sales:  {{ '$5M' }}</div>
					<div class="col-md-3">GM:  {{ '$2M' }}</div>
					<div class="col-md-3">Sell-Through:  {{ '72%' }}</div>
					<div class="col-md-3">
						<div class="form-group no-bottom">
					    	<button type="submit" class="btn btn-default">Add to list</button>
					    </div>
					</div>
				</div>			
			</div>
			</div>
		</div>
	</div>
</div>	
	

	{% block table %}
	<div class="row table-responsive">
		<div class="col-md-4">
			<h4>Scenario Analysis</h4>
			<p>Evaluate the impact of selected actions on sales & margin</p>
		</div>
		<div class="col-md-8">
			<table class="table table-striped">
				<th>
					<td>Cluster</td>
					<td>Sales</td>
					<td>GM</td>
					<td>Units</td>
					<td>Sell Through</td>
					<td>Action</td>
				</th>
				{#{% for sku in skus %}#}
				<tr>
					<td></td>
					<td>{{ "Men's Trench I" }}</td>
					<td>{{ '$10M' }}</td>
					<td>{{ '$3M' }}</td>
					<td>{{ '75' }}</td>
					<td>{{ '70%' }}</td>
					<td><input type="submit" value="remove" class="form-control dispoP"></td>
				</tr>
				<tr>
					<td></td>
					<td>{{ "Men's Trench I" }}</td>
					<td>{{ '$9M' }}</td>
					<td>{{ '$2M' }}</td>
					<td>{{ '75' }}</td>
					<td>{{ '67%' }}</td>
					<td><input type="submit" value="remove" class="form-control dispoP"></td>
				</tr>
				{#{% endfor %}#}
				<tr>
					<td></td>
					<td><b>{{ "Total Impact" }}</b></td>
					<td><b>{{ '$19M' }}</b></td>
					<td><b>{{ '$5M' }}</b></td>
					<td><b>{{ '150' }}</b></td>
					<td><b>{{ '68.5%' }}</b></td>
					<td><input type="submit" value="submit" class="form-control dispoP"></td>
				</tr>
			</table>
		</div>
	</div>
</div>
	{% endblock %}
{% endblock %}