{% extends "base.html" %}
{% block pagelabel %}Sku List{% endblock %}
{% block page_content %}
<div class="col-md-12">
	{#{% block searchfield %}
	<div class="row">
		<div class="col-md-6"><small>{{ 'Results: {}'.format(results) }}</small></div>
		<form role="form" method="POST" name="analysis" action="{{ url_for('.analysis') }}">
            	{{ form.csrf_token }}
			<div class="col-md-2">
	            <div class="form-group">
	    			{{ form.category(class="form-control",placeholder="category") }}
	    		</div>
	    	</div>
	    	<div class="col-md-2">
	    		<div class="form-group">
	    			{{ form.sku(class="form-control",placeholder="SKU") }}
	    		</div>
	    	</div>
	    	<div class="col-md-2">
	    		<div class="form-group">
	    			<button type="submit" class="btn btn-default">Submit</button>
	    		</div>
	    	</div>
          </form>
	</div>
	{% endblock %}#}
	<div class="row">
		<div class="col-md-4">
			
		</div>
	
		<div class="col-md-8">
			<div class="panel panel-default">
  				<div class="panel-heading">
    				<h3 class="panel-title">Analytics</h3>
  				</div>
  			<div class="panel-body">
						<div class="row">
							<form role="form" method="POST" name="stores" action="{{ url_for('.analysis') }}">
					            	{{ form.csrf_token }}
								<div class="col-md-2">
						            <div class="form-group">
						    			{{ form.cluster(class="form-control",placeholder="category") }}
						    		</div>
						    	</div>
						    	<div class="col-md-4">
						    		Reco price action: {{ '(15%)' }}
						    	</div>
						    	<div class="col-md-2">
						    		<div class="form-group">
						    			{{ form.test_price(class="form-control",placeholder="price") }}
						    		</div>
						    	</div>
						    	<div class="col-md-2">
						    		<div class="form-group">
						    			<button type="submit" class="btn btn-default">Submit</button>
						    		</div>
						    	</div>
					          </form>
						</div>
						<div class="row border-bottom">
							<div class="col-md-6">
								Price action by store cluster 
							</div>
							<div class="col-md-6">
								Markdown $ spent: {{ '$232K' }}
							</div>
						</div>		
						<div class="row">
								<div class="col-md-6"><h5>Pricing Inputs</h5></div>
						</div>
						<div class="row">
							<div class="col-md-3">Avg temp:  {{ '74' }}</div>
							<div class="col-md-3">Aggressiveness:  {{ '5' }}</div>
							<div class="col-md-6">Markdown Tier:  {{ '3' }}</div>
						</div>
						<div class="row">
							<div class="col-md-3">On promo:  {{ '74' }}</div>
							<div class="col-md-3">Seasonality:  {{ '5' }}</div>
							<div class="col-md-6">Markdown Tier:  {{ '3' }}</div>
						</div>
						<div class="row border-bottom">
							<div class="col-md-3">National ad:  {{ '74' }}</div>
							<div class="col-md-3">Aggressiveness:  {{ '5' }}</div>
							<div class="col-md-6">Markdown Tier:  {{ '3' }}</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-3">Sales:  {{ '$5M' }}</div>
							<div class="col-md-3">GM:  {{ '$2M' }}</div>
							<div class="col-md-6">Sell-Through:  {{ '72%' }}</div>
						</div>			
				</div>
			</div>
			</div>
			
			<div class="row">
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
			</div>
			<div class="row">
				
			</div>
		</div>
	</div>	
	

	{% block table %}
	<div class="row table-responsive">
		<div class="col-md-4">
			<h4>Scenario Analysis</h4>
			<p>Evaluate the impact of selected actions on sales & margin</p>
		</div>
		<div class="col-md-8">
			<table class="table table-striped">
				<th>
					<td>Cluster</td>
					<td>Sales</td>
					<td>GM</td>
					<td>Units</td>
					<td>Sell Through</td>
					<td>Action</td>
				</th>
				{#{% for sku in skus %}#}
				<tr>
					<td></td>
					<td>{{ "Men's Trench I" }}</td>
					<td>{{ '$10M' }}</td>
					<td>{{ '$3M' }}</td>
					<td>{{ '75' }}</td>
					<td>{{ '70%' }}</td>
					<td><input type="submit" value="remove" class="form-control dispoP"></td>
				</tr>
				{#{% endfor %}#}
			</table>
		</div>
	</div>
</div>
	{% endblock %}
{% endblock %}