{% extends "base.html" %}
{% block pagelabel %}My Dashboard{% endblock %}
{% block page_content %}
	<div class="row">
		<span class="label label-primary">Actions
			<span class="badge" style="height:75%;">5</span>
		:</span>
		<span class="label label-success left-buffer">+20M Sales</span>
		<span class="label label-success left-buffer">+5M GM$</span>
		<span class="label label-success left-buffer">8.5%+ Sellthrough</span>
	</div>
	<div class="row top-buffer">
		<div class="col-md-12">
			<div class="row">Performance Overview</div>
			<div class="row">
				<div class="col-md-6">{{graphs.sales|safe}}</div>
				<div class="col-md-6">{{graphs.gm|safe}}</div>
			</div>
		</div>
		<div class="col-md-12 top-buffer">
			<div class="row">Performance by Week</div>
			<div class="row">
				<div class="col-md-6">{{graphs.saleswk|safe}}</div>
				<div class="col-md-6">{{graphs.gmwk|safe}}</div>
			</div>
		</div>			
	</div>
	<div class="row">
	<div class="row table-responsive top-buffer">
		<table class="table table-striped">
			<th>
				<td>Category</td>
				<td>Forecast</td>
				<td>Vs Plan</td>
				<td>Price Action</td>
				<td>Sales Impact</td>
				<td>GM Impact</td>
				<td>Sell-Through</td>
			</th>
			{% for cluster in clusters %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ cluster.name }}</td>
				<td>{{ '${0:0.2f}'.format(cluster.metric()/100) }}</td>
				<td>{{ '{0:0.1f}%'.format(cluster.chg_plan()*100) }}</td>
				<td>{{ '({0:0.1f}%)'.format(randint(0,40)) }}</td>
				<td>{{ '${0:0.2f}'.format(cluster.impact()/100) }}</td>
				<td>{{ '${0:0.2f}'.format(cluster.impact('gm')/100) }}</td>
				<td>{{ '{0:0.1f}%'.format(cluster.impact('sellthru')) }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
