{% extends "base.html" %}
{% block pagelabel %}My Dashboard{% endblock %}
{% block page_content %}
	<div class="row">
		<span class="label label-primary">Actions
			<span class="badge" style="height:75%;">5</span>
		:</span>
		<span class="label label-success left-buffer">+20M Sales</span>
		<span class="label label-success left-buffer">+5M GM$</span>
		<span class="label label-success left-buffer">8.5%+ Sellthrough</span>
	</div>
	<div class="row top-buffer">
		<div class="col-md-12">
			<div class="row">Performance Overview</div>
			<div class="row">
				<div class="col-md-6 no-padding">{{graphs.sales|safe}}</div>
				<div class="col-md-6 no-padding">{{graphs.gm|safe}}</div>
			</div>
		</div>
		<div class="col-md-12 top-buffer">
			<div class="row">Performance by Week</div>
			<div class="row">
				<div class="col-md-6 no-padding">{{graphs.saleswk|safe}}</div>
				<div class="col-md-6 no-padding">{{graphs.gmwk|safe}}</div>
			</div>
		</div>			
	</div>
	<div class="row">
		<div class="row table-responsive top-buffer">
			<table class="table table-striped">
				{% include "snippets/maintblhead.html" %}
				{% for cluster in clusters %}
				{% include "snippets/maintblbody.html" %}
				{% endfor %}
			</table>
		</div>
    </div>
{% endblock %}
