{% extends "base.html" %}
{% block pagelabel %}My Dashboard{% endblock %}
{% block page_content %}
	<div class="row">
		<div class="col-md-5">
			<form role="form" method="POST" name="dashboard" action="{{ url_for('.dashboard') }}">
	            	{{ form.csrf_token }}
				<div class="col-md-6">
		            <div class="form-group">
		    			{{ form.categories(class="form-control",placeholder="category") }}
		    		</div>
		    	</div>
		    	<div class="col-md-4">
		    		<div class="form-group">
		    			<button type="submit" class="btn btn-default">Submit</button>
		    		</div>
		    	</div>
	        </form>
		</div>
		<div class="col-md-7">
			<a href="#actionlist"><h4><span class="label label-primary">Actions
				<span class="badge" style="height:75%;">{{ clusters|length }}</span>
			</span></a>
			<span class="label label-success left-buffer">+{{ '${0:0.1f}M'.format(category.impact()/100000) }} Sales</span>
			<span class="label label-success left-buffer">+{{ '${0:0.1f}M'.format(category.impact('gm')/100000) }} GM</span>
			<span class="label label-success left-buffer">+{{ '{0:0.1f}%'.format(category.impact('sellthru')/100000) }} Sell-through</span></h4>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-12">
			<div class="row">Performance Overview</div>
			<div class="row">
				<div class="col-md-6 no-padding">{{graphs.sales|safe}}</div>
				<div class="col-md-6 no-padding">{{graphs.gm|safe}}</div>
			</div>
		</div>
		<div class="col-md-12 top-buffer">
			<div class="row">Performance by Week</div>
			<div class="row">
				<div class="col-md-6 no-padding">{{graphs.saleswk|safe}}</div>
				<div class="col-md-6 no-padding">{{graphs.gmwk|safe}}</div>
			</div>
		</div>			
	</div>
	<div class="row">
		<div class="row table-responsive top-buffer">
			<table id="actionlist" class="table table-striped">
				{% include "snippets/maintblhead.html" %}
				{% for cluster in clusters %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ cluster.name }}</td>
						<td>{{ '${0:0.2f}'.format(cluster.metric()/100) }}</td>
						<td>{{ '{0:0.1f}%'.format(cluster.chg_plan()*100) }}</td>
						<td>{{ '({0:0.1f}%)'.format(randint(0,40)) }}</td>
						<td>{{ '${0:0.2f}'.format(cluster.impact()/100) }}</td>
						<td>{{ '${0:0.2f}'.format(cluster.impact('gm')/100) }}</td>
						<td>{{ '{0:0.1f}%'.format(cluster.impact('sellthru')) }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
    </div>
{% endblock %}
