{% extends "base.html" %}
{% block pagelabel %}Disposition List{% endblock %}
{% block page_content %}
<div class="col-md-10">
	<div class="row table-responsive top-buffer">
			<table class="table table-striped">
				<th>
					<td>SKU</td>
					<td>Channel</td>
					<td>Forecast ST</td>
					<td>Rem. Units</td>
					<td>Current Price</td>
					<td>Suggested Price</td>
					<td>Alt. Price</td>
					<td>List</td>
				</th>
				{#{% for cluster in clusters %}#}
				<tr>
					<td>{{ 1 }}</td>
					<td>{{ '101A' }}</td>
					<td>{{ 'Amazon' }}</td>
					<td>{{ '{0:0.1f}%'.format(63) }}</td>
					<td>{{ 250 }}</td>
					<td>{{ '$%d' | format(60) }}</td>
					<td>{{ '$%d' | format(55) }}</td>
					<td><input type="text" class="form-control dispoP" placeholder="{{ '$%d' | format(60) }}"></td>
					<td><input type="checkbox"></td>
				</tr>
				{#{% endfor %}#}
			</table>
	</div>
</div>
<div class="col-md-2">
	<div class="row top-buffer">Watchlist</div>
		<div class="row top-buffer"><img src="{{ url_for('static',filename='img/coat1.jpeg') }}"> Caption</div>
	<div class="row top-buffer">
		<div class="row top-buffer"><img src="{{ url_for('static',filename='img/coat2.jpeg') }}"> Caption</div>
	</div>
</div>

{% endblock %}