{% extends "base.html" %}
{% block pagelabel %}Disposition List{% endblock %}
{% block page_content %}
<div class="col-md-9">
	<div class="row table-responsive top-buffer">
			<table class="table table-striped">
				<th>
					<td>SKU</td>
					<td>Channel</td>
					<td>Forecast ST</td>
					<td>Rem. Units</td>
					<td>Current Price</td>
					<td>Suggested Price</td>
					<td>Alt. Price</td>
					<td>List</td>
				</th>
				{% for sku in listskus %}
				<tr>
					<td>{{ 1 }}</td>
					<td><a href="{{ url_for('.dispo_profile',id=sku.id)}}"> {{ sku.sku_num }} </a></td>
					<td>{{ sku.channel() }}</td>
					<td>{{ '{0:0.1f}%'.format(sku.get_sellthru()) }}</td>
					<td>{{ sku.get_units() }}</td>
					<td>{{ '$%d' | format(sku.avg_price()/100) }}</td>
					<td>{{ '$%d' | format(sku.lqdt_price/100) }}</td>
					<td><input type="text" class="form-control dispoP" placeholder="{{ '$%d' | format(60) }}"></td>
					<td><input type="checkbox"></td>
				</tr>
				{% endfor %}
			</table>
	</div>
		<input type="submit" value="Submit to Market(s)" class="form-control dispoP">
</div>
<div class="col-md-2 left-buffer">
	<div class="row top-buffer"><center>Watchlist</center></div>
		{#{% for sku in watchskus %}#}
		<div class="row top-buffer">
			<img src="{{ url_for('static',filename='img/coat1.jpeg') }}">
		</div>
		<div class="row top-buffer">
			<div class="row top-buffer"><img src="{{ url_for('static',filename='img/coat2.jpeg') }}"> Caption</div>
		</div>
		{#{% endfor %}#}
</div>

{% endblock %}