{% extends "base.html" %}
{% block pagelabel %}Dipsoition Profile{% endblock %}
{% block page_content %}
<div class="col-md-12">
	<div class="row">
		<div class="col-md-5">
			<img src="{{ url_for('static',filename='img/not_available.gif') }}">
		</div>
		<div class="col-md-6">
			<div class="row">
				SKU:{{ sku.sku_num }}
			</div>
			<div class="row top-buffer">
				{{ sku.prod_nm }}
			</div>
			<div class="row top-buffer">
				<button type="submit" class="btn btn-default">List</button>
			</div>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-5">
			<h4>Financials:</h4>
		<div class="row table-responsive">
			<table class="table table-striped">
				<tr>
					<td>Recommended price</td>
					<td>{{ '${0:0.2f}'.format(sku.lqdt_price/100) }}</td>
				</tr>
				<tr>
					<td>Incremental sales</td>
					<td>{{ '$700' }}</td>
				</tr>
				<tr>
					<td>Incremental GM</td>
					<td>{{ '$350' }}</td>
				</tr>
				<tr>
					<td>Fully loaded GM/Unit</td>
					<td>{{ sku.lqdt_gm() }}</td>
				</tr>
			</table>
		</div>
			
		</div>
		<div class="col-md-5 left-buffer">
			<h4>Logistics:</h4>
		<div class="row table-responsive">
			<table class="table table-striped">
				<tr>
					<td>Channel</td>
					<td>{{ sku.channel() }}</td>
				</tr>
				<tr>
					<td>Units held for marketplace</td>
					<td>{{ sku.units_to_list }}</td>
				</tr>
				<tr>
					<td>Ship from:</td>
					<td>{{ '201, 204, 206, 208' }}</td>
				</tr>
			</table>
		</div>			
	</div>
</div>
{% endblock %}