{% extends "base.html" %}
{% block pagelabel %}Historical price action performance{% endblock %}
{% block page_content %}
<div class="col-md-12">
	<div class="row table-responsive top-buffer">
			<table class="table table-striped">
				<th>
					<td>Date</td>
					<td>Cluster</td>
					<td>Suggested Disc.</td>
					<td>Implemented Disc.</td>
					<td>Scale</td>
					<td>Lift</td>
					<td>ROI</td>
					<td>GM Impact</td>
					<td>S.F.</td>
				</th>
				<tr>
					<td>{{ 1 }}</td>
					<td>{{ '10/10/14' }}</td>
					<td>{{ 'Mens Winter Coats II' }}</td>
					<td>{{ '25%' }}</td>
					<td>{{ '20%' }}</td>
					<td>{{ 'National' }}</td>
					<td>{{ '$0.1M' }}</td>
					<td>{{ '0.5%' }}</td>
					<td>{{ '0.5M' }}</td>
					<td><span class="badge">{{ '5' }}</span></td>
				</tr>
				<tr>
					<td>{{ 2 }}</td>
					<td>{{ '08/5/14' }}</td>
					<td>{{ 'Mens Fashion Blazers I' }}</td>
					<td>{{ '30%' }}</td>
					<td>{{ '40%' }}</td>
					<td>{{ 'Regional' }}</td>
					<td>{{ '$0.8M' }}</td>
					<td>{{ '4.0%' }}</td>
					<td>{{ '0.4M' }}</td>
					<td><span class="badge">{{ '3' }}</span></td>
				</tr>
				<tr>
					<td>{{ 3 }}</td>
					<td>{{ '3/05/14' }}</td>
					<td>{{ 'Mens Fall Jackets II' }}</td>
					<td>{{ '10%' }}</td>
					<td>{{ '15%' }}</td>
					<td>{{ 'Test' }}</td>
					<td>{{ '$0.9M' }}</td>
					<td>{{ '5%' }}</td>
					<td>{{ '0.5M' }}</td>
					<td><span class="badge">{{ '1' }}</span></td>
				</tr>
			</table>
	</div>
</div>
{% endblock %}