{% extends "base.html" %}
{% block pagelabel %}My Dashboard{% endblock %}
{% block page_content %}
	<div class="row">
		<div class="col-md-6"></div>
		<form role="form" method="POST" name="sku_list" action="{{ url_for('.sku_list') }}">
            	{{ form.csrf_token }}
			<div class="col-md-2">
	            <div class="form-group">
	    			{{ form.category(class="form-control",placeholder="category") }}
	    		</div>
	    	</div>
	    	<div class="col-md-2">
	    		<div class="form-group">
	    			{{ form.sku(class="form-control",placeholder="SKU") }}
	    		</div>
	    	</div>
	    	<div class="col-md-2">
	    		<div class="form-group">
	    			<button type="submit" class="btn btn-default">Submit</button>
	    		</div>
	    	</div>
          </form>
	</div>
	<div class="row top-buffer table-responsive">
		<table class="table table-striped">
			<th>
				
				<td>SKU</td>
				<td>Product</td>
				<td>Brand</td>
				<td>Opt Price</td>
				<td>Crnt Price</td>
				<td>Dffrnc($)</td>
				<td>Opt GM</td>
				<td>Crnnt GM</td>
				<td>Impact($K)</td>
				<td>Units</td>
				<td>Phase Out</td>
				<td>Days Past</td>
			</th>
			{% for sku in skus %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ sku.sku_num }}</td>
				<td>{{ sku.product_name }}</td>
				<td>{{ sku.brand }}</td>
				<td>{{ sku.get_opt_price() }}</td>
				<td>{{ sku.current_price }}</td>
				<td>{{ '$%d' | format(sku.price_diff()) }}</td>
				<td>{{ '{0:0.1f}%'.format(sku.gm(sku.opt_price)*100) }}</td>
				<td>{{ '{0:0.1f}%'.format(sku.gm(sku.current_price)*100) }}</td>
				<td>{{ sku.gm_impact() }}</td>
				<td> {{ 500 }}</td>
				<td>{{ sku.phase_out }}</td>
				<td>{{ sku.days_past() }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}