{% extends "base.html" %}
{% block pagelabel %}My Dashboard{% endblock %}
{% block page_content %}
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-3">Choose Category</div>
		<div class="col-md-3">SKU Search</div>
	</div>
	<div class="row top-buffer">
		<table class="table table-striped">
			<th>
				
				<td>SKU</td>
				<td>Product</td>
				<td>Brand</td>
				<td>Opt Price</td>
				<td>Crnt Price</td>
				<td>Diff</td>
				<td>Opt GM</td>
				<td>Crnnt GM</td>
				<td>Impact($)</td>
				<td>Units</td>
				<td>Phase Out</td>
				<td>Days Past</td>
			</th>
			{% for sku in skus %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ sku.sku_num }}</td>
				<td>{{ sku.product_name }}</td>
				<td>{{ sku.brand }}</td>
				<td>{{ sku.opt_price }}</td>
				<td>{{ sku.current_price }}</td>
				<td>{{ 'sku.diff()' }}</td>
				<td>{{ 'sku.get_gm(sku.opt_price)' }}</td>
				<td>{{ 'sku.get_gm(sku.current_price)' }}</td>
				<td>{{ 'sku.impact($)' }}</td>
				<td> {{ 500 }}</td>
				<td>{{ sku.phase_out }}</td>
				<td>{{ 'sku.days_past()' }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}