.footer {
	color: white;
}
.block-container {
	margin-bottom: 75px;
}
.block-color {
	background-color: aliceblue;
}
.page-header {
	margin-top: 5px;
}
.top-buffer {
	margin-top: 20px;
}
.left-buffer {
	margin-left: 20px;
}

.dispoP {
	width: 70%;
}

.border-bottom {
	border-bottom: .25rem dotted lightgray;
}

.no-margin {
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default {
	background-color: #3366cc;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: white;
}

.no-padding {
	padding-left:0px;
}


